
$font-primary: "Zilla Slab", serif;
$font-secondary: "Documenta-Regular", sans-serif;
$font-secondary-italic: "DocumentaDtlItalic", sans-serif;

body {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 100;
  line-height: 1.5;
  font-size: 16px;
}

.uppercase {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  color: $color-white;
  position: relative;
  font-size: 6.0rem;

  @include MQ(XS) {
    font-size: 15vw;
  }
}

h2 {
  font-family: $font-primary;
  font-size: 5.0rem;
  color: $color-black;
}

p {
  font-size: 1.4rem;
  font-family: $font-secondary;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: $font-primary;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-blue;
  }
}

ul {
  list-style-type: none;
}