.text-left,
.text-right {
  position: absolute;
  bottom: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 17px;
  color: $color-white;
  font-style: italic;
}

.text-left {
  left: 15px;
}

.text-right {
  right: 15px;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  display: inline-block;
  position: absolute;
  right: -140px;
  bottom: 135px;
}
